<h1>Locations For: <%= current_user.email %></h1>
<hr />

<% if @locations.any? %>

  <ul>
    <% @locations.each do |location| %>
      <li>
        <%= location.name %>
        <br />

      <% end %>
    </ul>

    <% else %>
      <h3>No Locations!, Make a new one!</h3>
    <% end %>

    <%= link_to 'Make new Location', new_trip_location_path, class: "waves-effect waves-light btn" %>

<br />
<%= link_to 'Back to the Index!', trips_path %>
